@import '@fontsource-variable/inter';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.75rem;
    --background: 0 0% 100%;
    --foreground: 210 24% 10%;
    --card: 0 0% 100%;
    --card-foreground: 210 24% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 24% 10%;
    --primary: 210 24% 10%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 17% 96%;
    --secondary-foreground: 210 24% 10%;
    --muted: 210 17% 96%;
    --muted-foreground: 210 8% 43%;
    --accent: 210 17% 95%;
    --accent-foreground: 210 24% 10%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 16% 91%;
    --input: 210 14% 86%;
    --ring: 208 100% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply antialiased;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'cv11';
  }
}
